<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.estudiantessamuel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/columpio_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/columpio_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.EstudiantesSamuel">
        <activity android:name=".ListActivityStudent"></activity>
        <activity android:name=".Edit_DeleteActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".FormActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>